body {
    font: 13px/15px 'Microsoft Yahei', Arial, SimSun, Sans-Serif;
}

a, a:hover, a:active, a:visited, a:link {
    color: black;
    outline: 0 none;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 51px;
    background-color: #f8f8f8;
}

.header .brand 
{
    float: left;
    background-image: url("themes/images/brand.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 266px;
    height: 50px;
}

.header .top-nav {
    float: right;
    height: 50px;
    margin-right: 3px;
}

.top-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.icon-nav li {
    float: left;
    margin-right: 3px;
    position: relative;
}

.icon-nav li > a {
    position: relative;
    color: #157fcc;
    display: block;
    font-size: 1.35em;
    padding: 20px 20px 13px 20px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.icon-nav li > a:hover {
    background-color: #eee;
}

.icon-nav li > .current {
    background-color: #fff;
    border-top: 3px solid #157fcc;
    padding: 17px 20px 13px 20px;
}

.icon-nav li > .current:hover {
    background-color: #fff;
}

.icon-nav > li > a .label {
    top: 10px;
    right: 10px;
    position: absolute;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    font-size: 0.5em;
    font-weight: 600;
    border-radius: 16px;
    background: #e63a3a none repeat scroll 0 0;
}

.icon-nav > li img {
    width: 28px;
    height: 28px;
    border: 0 none;
    border-radius: 28px;
    vertical-align: middle;
    margin-left: 3px;
}

.icon-nav > li .ucenter {
    padding: 13px 10px 10px 10px;
}

.icon-nav > li .ucenter > .words {
    font-size: 15px;
}

.icon-nav li > .ucurrent {
    background-color: #fff;
    border-top: 3px solid #157fcc;
    padding: 10px 10px 10px 10px;
}

.icon-nav li > .ucurrent:hover {
    background-color: #fff;
}

#about-window {
    display:none;
}

#about-content {
    width: 100%; 
    height: auto;
}

.clearfix {
    display: block;
}

div.title-bar {
    height: 20px;
    line-height: 20px;
    margin-bottom: 6px;
    position: relative;
}

div.title-bar h1 {
    padding: 0;
    margin: 0;
    color: #535353;
    font-size: 14px;
}

div.title-bar div.desc {
    display: inline;
    white-space: nowrap;
    margin-left: 5px;
    font-size: 12px;
}

div.title-bar a.help {
    display: inline-block;
    height: 20px;
    margin-left: 5px;
    padding-right: 14px;
    text-decoration: none;
    background-image: url("themes/icons/title-help.png");
    background-repeat: no-repeat;
    background-position: 0 3px;
}

div.help-tip{
    zoom: 1;
    position: relative;
    margin-bottom: 6px;
}

div.help-tip div.tip-arrow {
    height: 5px;
    width: 9px;
    left: 10px;
    top: -5px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("themes/icons/tip-arrow.png");
}

div.help-tip div.help-tip-content {
    background-color: #feffe5;
    padding: 10px;
    border: 1px solid #ebd482;
}

div.help-tip div.help-tip-content p.label {
    color: #926908;
    font-weight: bold;
}

div.help-tip div.help-tip-content p.text {
    color: #b79442;
}

div.help-tip div.help-tip-content p {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

.l {
    float: left;
}

.r {
    float: right;
}

/**home index*/
.overview .viewbox {
    background-color: #f8f8f8;
    height: 60px;
    position: relative;
    text-align: center;
}

.overview .iconbox {
	margin-left: 50px;
    padding: 2px 0 0 20px;
    text-align: left;
}

.viewbox .symbol {
    position: absolute;
    left: -51px;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
    height: auto;
    width: 51px;
    text-align: center;
    border: 1px solid #f6f6f6;
}

.viewbox .symbol i {
    color: #fff;
    font-size: 28px;
    position: relative;
    top: 15px;
}

.viewbox h4 {
    font: 300 22px/24px 'Microsoft Yahei', Arial, SimSun, Sans-Serif;
    margin: 8px 0 2px;
}

.viewbox small {
    color: #999;
    display: block;
    font-size: 12px;
}

.purple .symbol {
    background-color: #b198dc;
    border-color: #b198dc;
}

.purple small {
    color: #b198dc;
}

.red .symbol {
    background-color: #f04b51;
    border-color: #f04b51;
}

.red small {
    color: #f04b51;
}

.orange .symbol {
    background-color: #efa91f;
    border-color: #efa91f;
}

.orange small {
    color: #efa91f;
}

.yellow .symbol {
    background-color: #f5d313;
    border-color: #f5d313;
}

.yellow small {
    color: #f5d313;
}

.blue .symbol {
    background-color: #0892cd;
    border-color: #0892cd;
}

.blue small {
    color: #0892cd;
}

/** alarm charts */
.almview-almchart {
    height: 242px;
}

.svrview-cpuchart {
    height: 100px;
}

.svrview-memorychart {
    height: 100px;
}

.energyview-bar {
	height: 242px;
}

.energyview-pie {
	height: 242px;
}

.unconnectedview-pie {
	height: 262px;
}

.unconnectedview-list {
	height: 262px;
}

.offlineview-pie {
	height: 262px;
}

.offlineview-list {
	height: 262px;
}

/**point state css*/
.point-status-normal .x-status-cell {
    background-color : #32cd32;
}
.point-status-level1 .x-status-cell { 
    background-color : #ff0000; 
}
.point-status-level2 .x-status-cell { 
    background-color : #ffa500; 
}
.point-status-level3 .x-status-cell { 
    background-color : #ffff00; 
}
.point-status-level4 .x-status-cell { 
    background-color : #87ceeb; 
}
.point-status-opevent .x-status-cell { 
    background-color : #0000ff; 
}
.point-status-invalid .x-status-cell { 
    background-color : #d3d3d3; 
}

/**alarm level css*/
.alm-level0 .x-level-cell { 
    background-color : #32cd32;
}
.alm-level1 .x-level-cell { 
    background-color : #ff0000;
}
.alm-level2 .x-level-cell { 
    background-color : #ffa500; 
}
.alm-level3 .x-level-cell { 
    background-color : #ffff00; 
}
.alm-level4 .x-level-cell { 
    background-color : #87ceeb; 
}

a.alm-reservation {
    color:#157fcc;
}

/**custom button css*/
a.custom-button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a.custom-primary {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
a.custom-primary:hover {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}
a.custom-primary:active {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}

a.custom-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
a.custom-success:hover {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}
a.custom-success:active {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}

a.custom-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
a.custom-info:hover {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
a.custom-info:active {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}

a.custom-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
a.custom-warning:hover {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512;
}
a.custom-warning:active {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512;
}

a.custom-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
a.custom-danger:hover {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}
a.custom-danger:active {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}

@media screen and (max-width: 768px) {
    .header .top-nav {
        margin-right: 0;
    }

    .icon-nav li {
        margin-right: 2px;
    }

    .icon-nav li > a {
        padding: 20px 10px 13px 10px;
    }

    .icon-nav > li > a .label {
        right: 5px;
        top: 8px;
    }
}

@media screen and (max-width: 600px) {
    .icon-nav li {
        margin-right: 1px;
    }

    .header .brand {
        display: none;
    }
}