<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <RedisConfigGroup xdt:Transform="Replace">
    <RedisConfigSection WriteServerList="127.0.0.1:6379" ReadServerList="127.0.0.1:6379" MaxWritePoolSize="50" MaxReadPoolSize="50" LocalCacheTime="1800" AutoStart="true" />
  </RedisConfigGroup>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>