/*!
 * icon.css
 * /Content/ux/icon.css
 */

.x-icon-accept {
    background-image: url("../themes/icons/tick.png") !important;
    background-repeat: no-repeat;
}

.x-icon-error {
    background-image: url("../themes/icons/error.png") !important;
    background-repeat: no-repeat;
}

.x-icon-hidden {
    display:none;
}

.x-icon-loading {
    background-image: url("../themes/icons/loading.gif") !important;
    background-repeat: no-repeat;
}

.x-icon-tips {
    background-image: url("../themes/icons/tips.png") !important;
    background-repeat: no-repeat;
}

.x-icon-edit {
    background-image: url("../themes/icons/edit.png") !important;
    background-repeat: no-repeat;
}

.x-icon-add {
    background-image: url("../themes/icons/add.png") !important;
    background-repeat: no-repeat;
}

.x-icon-tick {
    background-image: url("../themes/icons/tick.png") !important;
    background-repeat: no-repeat;
}

.x-icon-delete {
    background-image: url("../themes/icons/delete.png") !important;
    background-repeat: no-repeat;
}

.x-icon-password {
    background-image: url("../themes/icons/password.png") !important;
    background-repeat: no-repeat;
}

.x-icon-detail {
    background-image: url("../themes/icons/detail.png") !important;
    background-repeat: no-repeat;
}

.x-icon-remote-control {
    background-image: url("../themes/icons/control.png") !important;
    background-repeat: no-repeat;
}

.x-icon-remote-setting {
    background-image: url("../themes/icons/junheng.png") !important;
    background-repeat: no-repeat;
}

.x-icon-cog {
    background-image: url("../themes/icons/cog.png") !important;
    background-repeat: no-repeat;
}