<div id="defaut-title-bar">
    <div class="title-bar clearfix">
        <h1 class="l">实时数据</h1>
        <div class="desc l"></div>
        <a id="help-btn" title="点击可查看详细帮助" class="help l" href="javascript:void(0);">&nbsp;</a>
    </div>
    <div id="help-tip" class="help-tip" style=" display:none;">
        <div id="tip-arrow" class="tip-arrow"></div>
        <div class="help-tip-content">
            <div class="tip-content">
                @*<p class="label">功能说明：</p>*@
                <p class="text">本页展现了系统所有设备信号点的实时数据，提供设备信号点的实时测值曲线、信号订阅、遥控、遥调等功能。</p>
                <p class="text">信号订阅是指用户可以通过设置订阅条件筛选重点关注的设备信号点，通过选择左侧列表中节点来展现该节点下的订阅信号。</p>
                <p class="text">注：实时测值曲线仅显示前15分钟的测值数据</p>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        window.$$iPems.ControlOperation = @((ViewBag.Control ?? false) ? 1 : 0) === 1;
        window.$$iPems.AdjustOperation = @((ViewBag.Adjust ?? false) ? 1 : 0) === 1;
    </script>
    <script src="@Url.Content("~/Scripts/home.active.data.js")" type="text/javascript"></script>
}
