<div id="defaut-title-bar">
    <div class="title-bar clearfix">
        <h1 class="l">用户中心</h1>
        <div class="desc l"></div>
        <a id="help-btn" title="点击可查看详细帮助" class="help l" href="javascript:void(0);">&nbsp;</a>
    </div>
    <div id="help-tip" class="help-tip" style=" display:none;">
        <div id="tip-arrow" class="tip-arrow"></div>
        <div class="help-tip-content">
            <div class="tip-content">
                @*<p class="label">功能说明：</p>*@
                <p class="text">用户中心主要展示了当前登录用户的基本信息，提供了修改登录密码和安全退出系统等功能。</p>
            </div>
        </div>
    </div>
</div>
<div id="logout-content">
    <div>本账户最后登录时间为：@iPem.Core.CommonHelper.DateTimeConverter(ViewBag.Current.LastLoginDate)</div>
    <p>强烈建议用户在使用完本系统后，通过以下按钮安全退出系统。这样可以清空系统缓存的用户相关信息，避免信息泄露。</p>
    <a class="custom-button custom-danger" href="/Account/LogOut" target="_self">安全退出</a>
</div>
@section scripts {
    <script src="@Url.Content("~/Scripts/home.ucenter.js?v=" + iPem.Site.Infrastructure.EngineContext.Current.AppStore.JSVersion)" type="text/javascript"></script>
}