@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <title>电子地图</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
    <link href="@Url.Content("~/Content/themes/css/configuration.map.iframe.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
    </div>
    <div id="search-panel">
        <div id="searchbox" class="clearfix">
            <div id="searchbox-container">
                <input id="searchbox-input" name="word" type="text" value="" placeholder="搜地点、查公交、找路线" maxlength="256" autocomplete="off">
            </div>
            <button id="search-button"></button>
        </div>
        <div id="search-results">
        </div>
    </div>
    <div id="unconnected-panel">
        <p class="title">
            您未连接到互联网，无法使用电子地图功能。
        </p>
        <p>
            1) 电子地图提供的是一种在线服务功能，需要访问的客户端连接到互联网后才可以正常使用。
        </p>
        <p>
            2) 请确保您的客户端已成功连接到互联网后，刷新页面重试。
        </p>
        <p>
            3) 如果您还有其他问题，请与系统管理员联系。
        </p>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=IhhQEhWBbvorhVm0FEhU2Ghw0R34sW6a" type="text/javascript"></script>
    <script src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/configuration.map.iframe.js?v=9")" type="text/javascript"></script>
</body>
</html>