@{
    Layout = "~/Views/Shared/_Help.cshtml";
}

<div class="row">
    <div id="left-nav" class="col-xs-3">
        <ul class="nav nav-pills nav-stacked" data-spy="affix">
            <li class="active"><a href="#section-1">安装部署类</a></li>
            <li><a href="#section-2">数据库类</a></li>
            <li><a href="#section-3">系统注册类</a></li>
            <li><a href="#section-4">系统使用类</a></li>
            <li><a href="#section-5">服务相关类</a></li>
            <li><a href="#section-6">其他类别</a></li>
        </ul>
    </div>
    <div class="col-xs-9">
        <div id="section-1" class="section">
            <div class="bs-callout bs-callout-info">
                <h4><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> 系统部署</h4>
                <p>
                    问题描述及解决办法<code>正在完善中</code>
                </p>
            </div>
            <div class="bs-callout bs-callout-warning">
                <h4><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> 系统部署</h4>
                <p>
                    问题描述及解决办法<code>正在完善中</code>
                </p>
            </div>
            <div class="bs-callout bs-callout-danger">
                <h4><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> 系统部署</h4>
                <p>
                    问题描述及解决办法<code>正在完善中</code>
                </p>
            </div>
        </div>
        <div id="section-2" class="section">
            <div class="bs-callout bs-callout-info">
                <h4><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> 数据库类</h4>
                <p>
                    问题描述及解决办法<code>正在完善中</code>
                </p>
            </div>
            <div class="bs-callout bs-callout-warning">
                <h4><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> 数据库类</h4>
                <p>
                    问题描述及解决办法<code>正在完善中</code>
                </p>
            </div>
            <div class="bs-callout bs-callout-danger">
                <h4><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> 数据库类</h4>
                <p>
                    问题描述及解决办法<code>正在完善中</code>
                </p>
            </div>
        </div>
    </div>
</div>