<div id="bar-chart"></div>
<div id="pie-chart"></div>
@section scripts {
    <script src="@Url.Content("~/Scripts/report.chart400304.js?v=" + iPem.Site.Infrastructure.EngineContext.Current.AppStore.JSVersion)" type="text/javascript"></script>
}