<div id="line-chart"></div>
@section scripts {
    <script src="@Url.Content("~/Scripts/report.chart400301.js?v=" + iPem.Site.Infrastructure.EngineContext.Current.AppStore.JSVersion)" type="text/javascript"></script>
}