<div id="bar-chart"></div>
@section scripts {
    <script src="@Url.Content("~/Scripts/report.history400204.js?v=" + iPem.Site.Infrastructure.EngineContext.Current.AppStore.JSVersion)" type="text/javascript"></script>
}
